<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumulus.cumulus.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.cumulus.cumulus.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM user
    </select>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>
    
    <insert id="insert" parameterType="com.cumulus.cumulus.entity.User">
        INSERT INTO user(username, password, age, email, create_time, update_time)
        VALUES (#{username}, #{password}, #{age}, #{email}, now(), now())
    </insert>
    
    <update id="update" parameterType="com.cumulus.cumulus.entity.User">
        UPDATE user
        SET username = #{username},
            password = #{password},
            age = #{age},
            email = #{email},
            update_time = now()
        WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM user WHERE id = #{id}
    </delete>
    
</mapper>    